<launch>
  <arg name="base"       default="kobuki"/>  <!-- create, rhoomba -->
  <arg name="stacks"     default="hexagons"/>  <!-- circles, hexagons -->
  <arg name="3d_sensor"  default="asus_xtion_pro"/>  <!-- kinect, asus_xtion_pro -->

  <!-- Name of the map to use and initial position -->
  <arg name="world_file"     default="$(find second_project)/map_raw/stage/maze.world"/>

  <arg name="odom_frame_id"   default="odom"/>
  <arg name="global_frame_id" default="map"/>

  <param name="/use_sim_time" value="true"/>


 <!--  ***************** Robot simulation *****************  -->
  <node pkg="stage" type="stageros" name="stageros" args="$(arg world_file)">
    <param name="base_watchdog_timeout" value="0.5"/>
    <remap from="base_scan" to="scan"/>
  </node>



  <!--  ************** Navigation  ***************  -->
   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find second_project)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find second_project)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />   
    <rosparam file="$(find second_project)/cfg/local_costmap_params.yaml" command="load" />   
    <rosparam file="$(find second_project)/cfg/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find second_project)/cfg/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find second_project)/cfg/move_base_params.yaml" command="load" /> 

    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="planner_frequency" value="1.0" />
    <param name="planner_patience" value="10.0" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="5.0" />

    <param name="clearing_rotation_allowed" value="true"/> 
  </node>



 <!-- Gmapping -->
  <include file="$(find second_project)/launch/gmapping.launch.xml"/>

<node pkg="tf2_ros" type="static_transform_publisher" name="base_front_laser"  args=" 0  0 0  0 0 0 1 base_link base_laser_link "/>



  <!--  **************** Visualisation ****************  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find second_project)/rviz/robot_navigation.rviz"/>
</launch>

