<launch>

  <param name="use_sim_time" value="true" />
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node"
    name="pointcloud_to_laserscan" output="screen">
    <remap from="cloud_in" to="/velodyne_points" />
    <remap from="scan" to="/2d_scanner" />
    <param name="min_height" value="0.2" />
    <param name="max_height" value="0.6" />
    <param name="angle_increment" value="0.004" />
    <param name="range_max" value="20.0" />
  </node>
  <node pkg="second_project" type="tf_publisher" name="tf_publisher" />
  <node pkg="tf" type="static_transform_publisher" name="base_footprint"
    args="0 0 0 0 0 0 base_footprint base_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="laser"
    args="0 0 0 0 0 0 base_link laser 100" />
  <node pkg="tf" type="static_transform_publisher" name="velodyne"
    args="0 0 0 0 0 0 base_link velodyne 100" />
  <!-- <include file="$(find second_project)/launch/scan_convertion.launch"/> -->
</launch>