<launch>

  <node pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
    <rosparam command="load" file="$(find second_project)/cfg/st_config_2d_scan.yaml" />
  </node>

  <include file="$(find second_project)/launch/scan_convertion.launch" />

  <include file="$(find second_project)/launch/single_lidar.launch" />
  <include file="$(find second_project)/launch/transforms.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find second_project)/config_mapping.rviz" />
</launch>